body {
    margin: 0%;
}

header h1 {
    margin: 0%;
    background-color: red;
    padding: 20px 0px;
    text-align: center;
}

nav {
    background-color: gray;
}

.menu {
    margin: 0%;
}

.menu li {
    display: inline-block;
    padding: 10px;
}

.menu li:hover {
    background-color: black;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.menu li:nth-child(2):hover #dropdown-1, 
.menu li:nth-child(3):hover #dropdown-2 {
    display: block;
}

#dropdown-1, #dropdown-2 {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    padding: 0%;
    width: auto;
    max-width: 97px;
    z-index: 1;
    top: 116px;
}

#dropdown-1 li, #dropdown-2 li {
    background-color: whitesmoke;
}

#dropdown-1 li:hover, #dropdown-2 li:hover {
    background-color: lightgrey;
}

#dropdown-1 li a, #dropdown-2 li a {
    color: mediumblue;
}